{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instructions - Block 1
    </h3>

    <p>
        Each participant in the group may choose green, purple, or yellow. Your payoff at the end of each round
        depends on the color you choose and the colors chosen by the other participants.
    </p>

    <p>
        The diagram below portrays the information flow between
        the {{ Constants.players_per_group }} participants. Each participant
        only sees the colors chosen by participants they are connected to
        by a line. At the end of each round, you (indicated in bold) will
        see the colors chosen by the participants represented by white dots.
        You will know your only own payoff, not the payoffs of any others.
    </p>

        {% if player.id_in_group == 1 %}
            <img align="middle" src="https://i.imgur.com/7nF0mIF.png" width="300px" />
        {% elif player.id_in_group == 2 %}
            <img align="middle" src="https://i.imgur.com/3rZpQvm.png" width="300px" />
        {% elif player.id_in_group == 3 %}
            <img align="middle" src="https://i.imgur.com/JEIkYI2.png" width="300px" />
        {% elif player.id_in_group == 4 %}
            <img align="middle" src="https://i.imgur.com/PwNRsK2.png" width="300px" />
        {% else %}
            ERROR
        {% endif %}


    </div>
</div>

